* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.anticon.anticon-left{
  filter: brightness(0.5);
}
.anticon.anticon-right{
  filter: brightness(0.5);
}
body {
  font: 1em/1.5 "Oxygen", sans-serif;
  color: #fff;
  background: rgb(18, 18, 18);
  padding-top: 145px;
  padding-bottom: 3em;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-size: 1.12em;
  height: 46px;
  padding-bottom: 1em;
  padding-left: 0;
  background: none;
  border: none;
  outline: 0;
  border-bottom: 4px solid #e4e4e4;
  transition: border-color 0.4s;
}

input:focus {
  border-color: #c1c1c1;
}
.infinite-scroll-component{
  display: flex;
  flex-direction: column;
}
.loader{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

/* =================================
  Page Components
==================================== */

.main-title {
  text-transform: uppercase;
  margin: 0 1em 0 0;
  font-size: 1.8em;
  font-weight: 700;
}

.main-title,
.main-list {
  line-height: 80px;
  letter-spacing: 1px;
}
.main-title a {
  color: #fff;
}
.search-form {
  padding-bottom: 10px;
}

.search-form input:only-of-type {
  width: 100%;
  margin-right: -40px;
  padding-right: 35px;
  background: #fff;
  border: 1px solid black;
  font-size: 0.9em;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 100px 0 0;
  z-index: 100;
  color: black;
}

.search-button {
  float: right;
  overflow: overlay;
  height: 45px;
}

.icn-search {
  /* font-weight: 700; */
  font-weight: 400;
}

.icon-gif {
  font-size: 6em;
  margin-bottom: 0;
  color: #7bcbc4;
  display: block;
}

.no-gifs {
  color: #7bcbc4;
  height: 140px;
  padding-top: 62px;
  text-align: center;
  font-size: 1.25em;
}

.gif-list {
  margin-top: 130px;
  width: 100%;
}

.gif-list a {
  display: block;
  margin: auto;
}

.gif-wrap {
  /* background-color: #fff; */
  background-color: rgb(0, 0, 0);
  margin-bottom: 0.8em;
  position: relative;
}

.gif-wrap img {
  min-width: 100%;
  /* margin-top: 90px; */
}

.main-content_pagination{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ant_pagination{
  padding-top: 20px;
}
/* =================================
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 90%;
  max-width: 1037px;
  margin: auto;
}

/* custom scrollbar */
.main-content::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.main-content::-webkit-scrollbar-track {
  background: #5c5959;        /* color of the tracking area */
}
.main-content::-webkit-scrollbar-thumb {
  background-color: #bab9b4;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #bab9b4;  /* creates padding around scroll thumb */
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: #fff; */
  background: rgb(18, 18, 18);
  min-height: 80px;
  z-index: 1000;
}

.main-list {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  align-items: center;
  margin: 0;
  text-transform: capitalize;
  font-size: 0.8em;
  /* font-size: 12px; */
  /* font-weight: 700; */
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  /* here */
  background-size: 200% 50%;
  background-position: 0 50%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.main-list li {
  padding-right: 1em;
  text-align: center;
}

.main-list li a {
  padding-bottom: 7px;
  border-bottom: 4px solid rgb(120, 120, 235);
  transition: background 0.2s ease;
  cursor: pointer;
  color: #fff;
  height: 100%;
}

.main-list li a:hover {
  /* background: rgba(102, 189, 230, 0.74); */
  background: -webkit-linear-gradient(
          left,
          #00ccff,
          #9933ff 31%,
          #e646b6 52%,
          #fff9aa 77%,
          #00ff99,
          #00ccff
  );
  background: linear-gradient(
          90deg,
          #00ccff,
          #9933ff 31%,
          #e646b6 52%,
          #fff9aa 77%,
          #00ff99,
          #00ccff
  );
}

.main-content::after {
  content: " ";
  display: table;
  clear: both;
}

.main-buttons {
  /* font-weight: 700; */
  font-weight: 400;
  margin: 0;
  width: 80px;
  background: rgba(102, 189, 230, 0.74);
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  transition: background 0.2s ease;
  color: #fff;
}

.main-buttons:hover {
  background: rgba(102, 189, 230, 0.54);
}

.svg-button {
  /* background: rgba(86, 86, 87, 0.979); */
  background: #3e3e3e;
  width: 86px;
  float: right;
  margin-right: -24px;
}

.svg-button:hover {
  /* background: rgba(86, 86, 87, 0.54); */
  background: #515151;
}



.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.banner {
  margin: 0;
  height: 96px;
  width: 1040px;
}

.credit {
  margin-left: 15em;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
  .gif-list li {
    text-align: center;
    margin: 20px 0 0;
    font-size: 0;
  }
}

@media (min-width: 550px) {
  .gif-list li {
    float: left;
    width: 50%;
    margin: 0;
  }
  .gif-wrap img {
    height: 235px;
  }
  .gif-list .no-gifs {
    float: none;
    width: 100%;
  }
  .gif-wrap {
    border: 1px solid black;
    padding: 0;
    overflow: hidden;
    font-size: 0;
  }
}

/*.ant-modal{*/
/*  width: 840px !important;*/
/*}*/
.ant-modal-body{
  display: flex;
  flex-wrap: wrap;
}
/* @media (min-width: 769px) and (max-width: 1099px) {
  .search-form {
    width: 999px;
    width: 422px;
    float: right;
    margin-top: 34px;
}
} */
@media (min-width: 769px) {
  body {
    padding-top: 115px;
  }
  .main-title {
    float: left;
  }

  .gif-list li {
    width: 33.333333333%;
  }
  .ant-modal{
    width: 840px !important;
  }
}

@media (min-width: 769px) {
  .gif-list li:nth-of-type(3n + 1) {
    clear: left;
  }
}

@media (min-width: 1100px) {
  .search-form {
    min-width: 1037px;
    float: right;
  }

  .search-button {
    float: right;
    overflow: overlay;
    height: 45px;
  }
  .ant-modal{
    width: 1040px !important;
  }
}
@media (min-width: 0) and (max-width: 1099px) {
  .search-form {
    width: 100%;
    margin-top: 34px;
  }

  .banner {
    display: none;
  }

  .main-list {
    width: 60%;
    justify-content: flex-start;
    align-items: center;
  }

  .svg-button {
    float: left;
    margin-right: 0;
  }


  /* .gif-list {
    width: 60%;
  } */

  .credit {
    margin: 0 auto;
  }
  .ant-modal{
    width: 800px !important;
  }
}
